In [20]:
import pandas as pd
df = pd.read_csv('pendapatan.csv')
df

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji
0,27247,59,Pemerintah Negara,139616,Master,14,Menikah,Ekesekutif Managerial,Laki2,0.0,0.0,50.0,1
1,1640,52,Wiraswasta,158993,SMA,9,Cerai,Servis Lainnya,Perempuan,0.0,0.0,38.0,0
2,45206,52,Pekerja Bebas Bukan Perusahan,284648,SMA,9,Cerai,Ekesekutif Managerial,Perempuan,0.0,0.0,99.0,1
3,16154,45,Wiraswasta,132847,SMA,9,Belum Pernah Menikah,Pembersih,Perempuan,0.0,0.0,40.0,0
4,43023,28,Wiraswasta,103432,SMA,9,Belum Pernah Menikah,Supir,Laki2,0.0,0.0,45.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38388,46220,47,Pekerja Bebas Bukan Perusahan,148169,SMA,9,Menikah,Perbaikan Kerajinan,Laki2,0.0,0.0,40.0,0
38389,33268,69,Pekerja Bebas Perusahaan,264722,D3,12,Menikah,Sales,Laki2,0.0,0.0,40.0,1
38390,44845,24,Pekerja Bebas Bukan Perusahan,31606,Sarjana,13,Menikah,Spesialis,Perempuan,0.0,0.0,20.0,1
38391,4517,47,Wiraswasta,197836,SMA,9,Menikah,Sales,Laki2,0.0,0.0,45.0,0
38392,38693,45,Wiraswasta,243743,Sarjana,13,Menikah,Ekesekutif Managerial,Laki2,0.0,0.0,60.0,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38393 entries, 0 to 38392
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     38393 non-null  int64
 1   Umur                   38393 non-null  int64
 2   Kelas Pekerja          38393 non-null  object
 3   Berat Akhir            38393 non-null  int64
 4   Pendidikan             38393 non-null  object
 5   Jmlh Tahun Pendidikan  38393 non-null  int64
 6   Status Perkawinan      38393 non-null  object
 7   Pekerjaan              38393 non-null  object
 8   Jenis Kelamin          38393 non-null  object
 9   Keuntungan Kapital     38393 non-null  float64
 10  Kerugian Capital       38393 non-null  float64
 11  Jam per Minggu         38393 non-null  float64
 12  Gaji                   38393 non-null  int64
dtypes: float64(3), int64(5), object(5)
memory usage: 3.1+ MB

In [21]:
a = df['Pekerjaan']=='?'
a.value_counts()

False    36183
True      2210
Name: Pekerjaan, dtype: int64

In [22]:
import numpy as np

for i in df :
    a = df[i]=='?'
    print(a.value_counts())
#pekerjaan,kelas pekerja

False    38393
Name: id, dtype: int64
False    38393
Name: Umur, dtype: int64
False    36189
True      2204
Name: Kelas Pekerja, dtype: int64
False    38393
Name: Berat Akhir, dtype: int64
False    38393
Name: Pendidikan, dtype: int64
False    38393
Name: Jmlh Tahun Pendidikan, dtype: int64
False    38393
Name: Status Perkawinan, dtype: int64
False    36183
True      2210
Name: Pekerjaan, dtype: int64
False    38393
Name: Jenis Kelamin, dtype: int64
False    38393
Name: Keuntungan Kapital, dtype: int64
False    38393
Name: Kerugian Capital, dtype: int64
False    38393
Name: Jam per Minggu, dtype: int64
False    38393
Name: Gaji, dtype: int64

c:\users\user\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [23]:
df['Pekerjaan'] = df['Pekerjaan'].replace({'?': np.nan})

In [24]:
df['Kelas Pekerja'] = df['Kelas Pekerja'].replace({'?': np.nan})

In [25]:
df['Pekerjaan'] = df['Pekerjaan'].fillna('Spesialis')

In [26]:
df['Pekerjaan'].value_counts()

Spesialis                7121
Ekesekutif Managerial    4790
Perbaikan Kerajinan      4788
Pemuka Agama             4408
Sales                    4323
Servis Lainnya           3859
Mesin Inspeksi           2380
Supir                    1859
Pembersih                1650
Petani                   1150
Tech-support             1122
Penjaga                   734
Asisten Rumah Tangga      198
Tentara                    11
Name: Pekerjaan, dtype: int64

In [27]:
df['Kelas Pekerja'] = df['Kelas Pekerja'].fillna('Wiraswasta')

In [28]:
df['Kelas Pekerja'].value_counts()

Wiraswasta                       28793
Pekerja Bebas Bukan Perusahan     3072
Pemerintah Lokal                  2454
Pemerintah Negara                 1579
Pekerja Bebas Perusahaan          1345
Pemerintah Provinsi               1128
Tanpa di Bayar                      16
Tidak Pernah Bekerja                 6
Name: Kelas Pekerja, dtype: int64

In [29]:
df.isnull().sum()

id                       0
Umur                     0
Kelas Pekerja            0
Berat Akhir              0
Pendidikan               0
Jmlh Tahun Pendidikan    0
Status Perkawinan        0
Pekerjaan                0
Jenis Kelamin            0
Keuntungan Kapital       0
Kerugian Capital         0
Jam per Minggu           0
Gaji                     0
dtype: int64

In [15]:
df['Kelas Pekerja'].value_counts()
pekerjaan = {
    'Pemerintah Negara':7,
    'Pemerintah Provinsi': 6,
    'Pemerintah Lokal': 5,
    'Wiraswasta':4,
    'Pekerja Bebas Perusahaan': 3,
    'Pekerja Bebas Bukan Perusahan':2,
    'Tanpa di Bayar' : 1,
    'Tidak Pernah Bekerja':0
}
# pemerintah negara>provinsi>lokal>wiraswasta>pekerja bebas perusahaan>pekerja bebas bkn perusahaan>tdk dibayar> tdk pernah bekerja

In [30]:
df['Kelas Pekerja'] = df['Kelas Pekerja'].replace(pekerjaan)
df['Kelas Pekerja'].value_counts()

4    28793
2     3072
5     2454
7     1579
3     1345
6     1128
1       16
0        6
Name: Kelas Pekerja, dtype: int64

In [31]:
df['Pendidikan'].value_counts()
# doktor > master > sarjana > d4 > D3 > Pendidikan Tinggi > Sekolah Professional > SMA > 12th > 11th > 10th
# > 9th > 7th-8th > SD > 5th-6th > 1st-4th
pendidikan = {
    'Doktor':9,
    'Master': 9,
    'Sarjana': 9,
    'D4':9,
    'D3':9,
    'Pendidikan Tinggi':9,
    'Sekolah Professional':8,
    'SMA':7,
    '12th':7,
    '11th':6,
    '10th':5,
    '9th':4,
    '7th-8th':3,
    'SD':2,
    '5th-6th':1,
    '1st-4th':0
}
df['Pendidikan'] = df['Pendidikan'].replace(pendidikan)

In [32]:
df.describe()

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji
count,38393.000000,38393.000000,38393.000000,3.839300e+04,38393.000000,38393.000000,3.839300e+04,3.839300e+04,38393.000000,38393.000000
mean,24015.248535,38.673925,4.049124,1.897238e+05,7.748522,10.082828,1.518659e+07,1.212665e+06,40.440627,0.239497
std,13872.059919,13.694678,0.954221,1.055764e+05,1.687020,2.574543,1.044373e+08,5.613945e+06,12.382695,0.426782
min,0.000000,17.000000,0.000000,1.228500e+04,0.000000,1.000000,0.000000e+00,0.000000e+00,1.000000,0.000000
25%,11989.000000,28.000000,4.000000,1.177510e+05,7.000000,9.000000,0.000000e+00,0.000000e+00,40.000000,0.000000
50%,24050.000000,37.000000,4.000000,1.783850e+05,9.000000,10.000000,0.000000e+00,0.000000e+00,40.000000,0.000000
75%,36031.000000,48.000000,4.000000,2.376300e+05,9.000000,12.000000,0.000000e+00,0.000000e+00,45.000000,0.000000
max,47991.000000,90.000000,7.000000,1.490400e+06,9.000000,16.000000,1.399986e+09,6.098400e+07,99.000000,1.000000

In [36]:
df['Pekerjaan'].value_counts()

Spesialis                7121
Ekesekutif Managerial    4790
Perbaikan Kerajinan      4788
Pemuka Agama             4408
Sales                    4323
Servis Lainnya           3859
Mesin Inspeksi           2380
Supir                    1859
Pembersih                1650
Petani                   1150
Tech-support             1122
Penjaga                   734
Asisten Rumah Tangga      198
Tentara                    11
Name: Pekerjaan, dtype: int64

In [37]:
df = pd.get_dummies(df, columns=['Status Perkawinan','Jenis Kelamin','Pekerjaan'])

In [38]:
df = df.drop(columns=['id','Berat Akhir'])

In [39]:
df

,Umur,Kelas Pekerja,Pendidikan,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji,Status Perkawinan_Belum Pernah Menikah,Status Perkawinan_Berpisah,...,Pekerjaan_Pemuka Agama,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara
0,59,7,9,14,0.0,0.0,50.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,52,4,7,9,0.0,0.0,38.0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,52,2,7,9,0.0,0.0,99.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,45,4,7,9,0.0,0.0,40.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,28,4,7,9,0.0,0.0,45.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38388,47,2,7,9,0.0,0.0,40.0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
38389,69,3,9,12,0.0,0.0,40.0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
38390,24,2,9,13,0.0,0.0,20.0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
38391,47,4,7,9,0.0,0.0,45.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
38392,45,4,9,13,0.0,0.0,60.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
data = df.drop(columns=['Gaji'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38393 entries, 0 to 38392
Data columns (total 29 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Umur                                    38393 non-null  int64
 1   Kelas Pekerja                           38393 non-null  int64
 2   Pendidikan                              38393 non-null  int64
 3   Jmlh Tahun Pendidikan                   38393 non-null  int64
 4   Keuntungan Kapital                      38393 non-null  float64
 5   Kerugian Capital                        38393 non-null  float64
 6   Jam per Minggu                          38393 non-null  float64
 7   Status Perkawinan_Belum Pernah Menikah  38393 non-null  uint8
 8   Status Perkawinan_Berpisah              38393 non-null  uint8
 9   Status Perkawinan_Cerai                 38393 non-null  uint8
 10  Status Perkawinan_Janda                 38393 non-null  uint8
 11  Status Perkawinan_Menikah               38393 non-null  uint8
 12  Status Perkawinan_Menikah LDR           38393 non-null  uint8
 13  Jenis Kelamin_Laki2                     38393 non-null  uint8
 14  Jenis Kelamin_Perempuan                 38393 non-null  uint8
 15  Pekerjaan_Asisten Rumah Tangga          38393 non-null  uint8
 16  Pekerjaan_Ekesekutif Managerial         38393 non-null  uint8
 17  Pekerjaan_Mesin Inspeksi                38393 non-null  uint8
 18  Pekerjaan_Pembersih                     38393 non-null  uint8
 19  Pekerjaan_Pemuka Agama                  38393 non-null  uint8
 20  Pekerjaan_Penjaga                       38393 non-null  uint8
 21  Pekerjaan_Perbaikan Kerajinan           38393 non-null  uint8
 22  Pekerjaan_Petani                        38393 non-null  uint8
 23  Pekerjaan_Sales                         38393 non-null  uint8
 24  Pekerjaan_Servis Lainnya                38393 non-null  uint8
 25  Pekerjaan_Spesialis                     38393 non-null  uint8
 26  Pekerjaan_Supir                         38393 non-null  uint8
 27  Pekerjaan_Tech-support                  38393 non-null  uint8
 28  Pekerjaan_Tentara                       38393 non-null  uint8
dtypes: float64(3), int64(4), uint8(22)
memory usage: 2.9 MB

In [92]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
dataNorm = std.fit_transform(data)

dfNorm = pd.DataFrame(dataNorm, columns=['Umur','Kelas Pekerja',
                                           'Pendidikan','Jmlh Tahun Pendidikan','Keuntungan Kapital','Kerugian Capital',
                                           'Jam per Minggu','Status Perkawinan_Belum Pernah Menikah',
                                           'Status Perkawinan_Berpisah','Status Perkawinan_Cerai','Status Perkawinan_Janda',
                                           'Status Perkawinan_Menikah','Status Perkawinan_Menikah LDR',
                                           'Jenis Kelamin_Laki2','Jenis Kelamin_Perempuan','Pekerjaan_Asisten Rumah Tangga','Pekerjaan_Ekesekutif Managerial','Pekerjaan_Mesin Inspeksi','Pekerjaan_Pembersih',
                                         'Pekerjaan_Pemuka Agama',
                                         'Pekerjaan_Penjaga','Pekerjaan_Perbaikan Kerajinan','Pekerjaan_Petani','Pekerjaan_Sales','Pekerjaan_Servis Lainnya',
                                         'Pekerjaan_Spesialis','Pekerjaan_Supir','Pekerjaan_Tech-support','Pekerjaan_Tentara'])
dfNorm

,Umur,Kelas Pekerja,Pendidikan,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Status Perkawinan_Belum Pernah Menikah,Status Perkawinan_Berpisah,Status Perkawinan_Cerai,...,Pekerjaan_Pemuka Agama,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara
0,1.484251,3.092486,0.741838,1.521522,-0.145415,-0.216012,0.772005,-0.700996,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929
1,0.973097,-0.051481,-0.443701,-0.420596,-0.145415,-0.216012,-0.197102,-0.700996,-0.179854,2.526513,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,2.991480,-0.477191,-0.225575,-0.173505,-0.016929
2,0.973097,-2.147459,-0.443701,-0.420596,-0.145415,-0.216012,4.729191,-0.700996,-0.179854,2.526513,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929
3,0.461943,-0.051481,-0.443701,-0.420596,-0.145415,-0.216012,-0.035585,1.426541,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929
4,-0.779432,-0.051481,-0.443701,-0.420596,-0.145415,-0.216012,0.368210,1.426541,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,-0.334283,-0.477191,4.433114,-0.173505,-0.016929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38388,0.607987,-2.147459,-0.443701,-0.420596,-0.145415,-0.216012,-0.035585,-0.700996,-0.179854,-0.395802,...,-0.360145,-0.139609,2.649262,-0.175722,-0.35621,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929
38389,2.214471,-1.099470,0.741838,0.744675,-0.145415,-0.216012,-0.035585,-0.700996,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,2.80733,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929
38390,-1.071520,-2.147459,0.741838,1.133098,-0.145415,-0.216012,-1.650763,-0.700996,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,-0.334283,2.095595,-0.225575,-0.173505,-0.016929
38391,0.607987,-0.051481,-0.443701,-0.420596,-0.145415,-0.216012,0.368210,-0.700996,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,2.80733,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929
38392,0.461943,-0.051481,0.741838,1.133098,-0.145415,-0.216012,1.579594,-0.700996,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929

In [93]:
dfNorm.describe()

,Umur,Kelas Pekerja,Pendidikan,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Status Perkawinan_Belum Pernah Menikah,Status Perkawinan_Berpisah,Status Perkawinan_Cerai,...,Pekerjaan_Pemuka Agama,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara
count,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,...,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04
mean,1.445404e-16,-2.707587e-16,2.069093e-16,-2.032079e-16,-3.460826e-17,2.146823e-17,1.926588e-16,1.499074e-17,-3.516347e-17,-6.292411e-18,...,-7.717457e-17,-1.388032e-17,3.368291e-17,1.850709e-17,-2.646514e-17,-1.980259e-17,-6.884638e-17,-7.032694e-18,4.858111e-17,1.128933e-17
std,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,...,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00
min,-1.582674e+00,-4.243437e+00,-4.593084e+00,-3.527984e+00,-1.454153e-01,-2.160123e-01,-3.185182e+00,-7.009962e-01,-1.798538e-01,-3.958024e-01,...,-3.601448e-01,-1.396091e-01,-3.774636e-01,-1.757222e-01,-3.562104e-01,-3.342827e-01,-4.771915e-01,-2.255751e-01,-1.735046e-01,-1.692905e-02
25%,-7.794316e-01,-5.148093e-02,-4.437006e-01,-4.205957e-01,-1.454153e-01,-2.160123e-01,-3.558457e-02,-7.009962e-01,-1.798538e-01,-3.958024e-01,...,-3.601448e-01,-1.396091e-01,-3.774636e-01,-1.757222e-01,-3.562104e-01,-3.342827e-01,-4.771915e-01,-2.255751e-01,-1.735046e-01,-1.692905e-02
50%,-1.222334e-01,-5.148093e-02,7.418375e-01,-3.217219e-02,-1.454153e-01,-2.160123e-01,-3.558457e-02,-7.009962e-01,-1.798538e-01,-3.958024e-01,...,-3.601448e-01,-1.396091e-01,-3.774636e-01,-1.757222e-01,-3.562104e-01,-3.342827e-01,-4.771915e-01,-2.255751e-01,-1.735046e-01,-1.692905e-02
75%,6.810088e-01,-5.148093e-02,7.418375e-01,7.446748e-01,-1.454153e-01,-2.160123e-01,3.682100e-01,1.426541e+00,-1.798538e-01,-3.958024e-01,...,-3.601448e-01,-1.396091e-01,-3.774636e-01,-1.757222e-01,-3.562104e-01,-3.342827e-01,-4.771915e-01,-2.255751e-01,-1.735046e-01,-1.692905e-02
max,3.747934e+00,3.092486e+00,7.418375e-01,2.298369e+00,1.325979e+01,1.064708e+01,4.729191e+00,1.426541e+00,5.560070e+00,2.526513e+00,...,2.776661e+00,7.162858e+00,2.649262e+00,5.690801e+00,2.807330e+00,2.991480e+00,2.095595e+00,4.433114e+00,5.763537e+00,5.907007e+01

In [94]:
dfNorm

,Umur,Kelas Pekerja,Pendidikan,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Status Perkawinan_Belum Pernah Menikah,Status Perkawinan_Berpisah,Status Perkawinan_Cerai,...,Pekerjaan_Pemuka Agama,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara
0,1.484251,3.092486,0.741838,1.521522,-0.145415,-0.216012,0.772005,-0.700996,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929
1,0.973097,-0.051481,-0.443701,-0.420596,-0.145415,-0.216012,-0.197102,-0.700996,-0.179854,2.526513,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,2.991480,-0.477191,-0.225575,-0.173505,-0.016929
2,0.973097,-2.147459,-0.443701,-0.420596,-0.145415,-0.216012,4.729191,-0.700996,-0.179854,2.526513,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929
3,0.461943,-0.051481,-0.443701,-0.420596,-0.145415,-0.216012,-0.035585,1.426541,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929
4,-0.779432,-0.051481,-0.443701,-0.420596,-0.145415,-0.216012,0.368210,1.426541,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,-0.334283,-0.477191,4.433114,-0.173505,-0.016929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38388,0.607987,-2.147459,-0.443701,-0.420596,-0.145415,-0.216012,-0.035585,-0.700996,-0.179854,-0.395802,...,-0.360145,-0.139609,2.649262,-0.175722,-0.35621,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929
38389,2.214471,-1.099470,0.741838,0.744675,-0.145415,-0.216012,-0.035585,-0.700996,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,2.80733,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929
38390,-1.071520,-2.147459,0.741838,1.133098,-0.145415,-0.216012,-1.650763,-0.700996,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,-0.334283,2.095595,-0.225575,-0.173505,-0.016929
38391,0.607987,-0.051481,-0.443701,-0.420596,-0.145415,-0.216012,0.368210,-0.700996,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,2.80733,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929
38392,0.461943,-0.051481,0.741838,1.133098,-0.145415,-0.216012,1.579594,-0.700996,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929

In [95]:
X = dfNorm
y = df['Gaji']

In [96]:
y.value_counts()/df.shape[0]

0    0.760503
1    0.239497
Name: Gaji, dtype: float64

In [97]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=21, stratify=y)

In [122]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
import numpy as np

model = RandomForestClassifier()
#params = {'n_neighbors': np.arange(3,11), 'weights':['distance', 'uniform']}
param = {'criterion':['gini', 'entropy'], 'random_state':np.arange(10)}
gscv = GridSearchCV(model, param_grid=param, scoring='roc_auc', cv=10)
gscv.fit(X_train,y_train)
gscv.best_params_

{'criterion': 'gini', 'random_state': 4}

In [123]:
gscv.best_score_

0.890497712557336

In [110]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(criterion='gini',random_state= 4)
model.fit(X,y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=4, verbose=0,
                       warm_start=False)

In [111]:
y_new = model.predict(X_test)

In [100]:
y_new

array([0, 0, 1, ..., 1, 0, 0], dtype=int64)

In [103]:
y_new = model.predict_proba(X_test)

In [104]:
y_pred = y_new[:, 1]

AttributeError: 'numpy.ndarray' object has no attribute 'value_counts'

In [112]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test,y_new)

0.9471806681880747

In [113]:
test = pd.read_csv('Pendapatan_test.csv')
test

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu
0,47933,30,Pemerintah Lokal,99761,D4,11,Cerai,Pemuka Agama,Perempuan,0.0,0.0,40.0
1,44213,28,Wiraswasta,202206,SMA,9,Menikah,Mesin Inspeksi,Laki2,0.0,0.0,50.0
2,20823,34,Pemerintah Provinsi,199934,Pendidikan Tinggi,10,Menikah,Pemuka Agama,Laki2,0.0,0.0,40.0
3,40565,51,Wiraswasta,373448,Pendidikan Tinggi,10,Menikah,Ekesekutif Managerial,Laki2,0.0,28028000.0,40.0
4,9860,20,?,144685,Pendidikan Tinggi,10,Belum Pernah Menikah,?,Perempuan,0.0,22428000.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9594,13587,58,Pemerintah Negara,159021,9th,5,Menikah,Petani,Laki2,0.0,0.0,40.0
9595,33231,45,Pekerja Bebas Bukan Perusahan,144086,11th,7,Menikah,Perbaikan Kerajinan,Laki2,0.0,0.0,50.0
9596,18614,20,Wiraswasta,238685,Pendidikan Tinggi,10,Belum Pernah Menikah,Servis Lainnya,Perempuan,0.0,0.0,32.0
9597,37566,41,Pemerintah Lokal,249039,SMA,9,Berpisah,Pemuka Agama,Perempuan,0.0,0.0,40.0
9598,6744,34,Pekerja Bebas Bukan Perusahan,24961,SMA,9,Menikah,Petani,Laki2,0.0,0.0,80.0

In [114]:
for i in test :
    a = test[i]=='?'
    print(a.value_counts())

False    9599
Name: id, dtype: int64
False    9599
Name: Umur, dtype: int64
False    9047
True      552
Name: Kelas Pekerja, dtype: int64
False    9599
Name: Berat Akhir, dtype: int64
False    9599
Name: Pendidikan, dtype: int64
False    9599
Name: Jmlh Tahun Pendidikan, dtype: int64
False    9599
Name: Status Perkawinan, dtype: int64
False    9045
True      554
Name: Pekerjaan, dtype: int64
False    9599
Name: Jenis Kelamin, dtype: int64
False    9599
Name: Keuntungan Kapital, dtype: int64
False    9599
Name: Kerugian Capital, dtype: int64
False    9599
Name: Jam per Minggu, dtype: int64

c:\users\user\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [116]:
test['Pekerjaan'] = test['Pekerjaan'].replace({'?': np.nan})
test['Kelas Pekerja'] = test['Kelas Pekerja'].replace({'?': np.nan})

In [117]:
test['Pekerjaan'].value_counts()
test['Pekerjaan'] = test['Pekerjaan'].fillna('Perbaikan Kerajinan')

In [118]:
test['Kelas Pekerja'].value_counts()
test['Kelas Pekerja'] = test['Kelas Pekerja'].fillna('Wiraswasta')

In [119]:
test['Pendidikan'] = test['Pendidikan'].replace(pendidikan)
test['Kelas Pekerja'] = test['Kelas Pekerja'].replace(pekerjaan)
test = pd.get_dummies(test, columns=['Status Perkawinan','Jenis Kelamin','Pekerjaan'])
test = test.drop(columns=['Berat Akhir'])

In [120]:
test

,id,Umur,Kelas Pekerja,Pendidikan,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Status Perkawinan_Belum Pernah Menikah,Status Perkawinan_Berpisah,...,Pekerjaan_Pemuka Agama,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara
0,47933,30,5,9,11,0.0,0.0,40.0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,44213,28,4,7,9,0.0,0.0,50.0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20823,34,6,9,10,0.0,0.0,40.0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,40565,51,4,9,10,0.0,28028000.0,40.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9860,20,4,9,10,0.0,22428000.0,40.0,1,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9594,13587,58,7,4,5,0.0,0.0,40.0,0,0,...,0,0,0,1,0,0,0,0,0,0
9595,33231,45,2,6,7,0.0,0.0,50.0,0,0,...,0,0,1,0,0,0,0,0,0,0
9596,18614,20,4,9,10,0.0,0.0,32.0,1,0,...,0,0,0,0,0,1,0,0,0,0
9597,37566,41,5,7,9,0.0,0.0,40.0,0,1,...,1,0,0,0,0,0,0,0,0,0
9598,6744,34,2,7,9,0.0,0.0,80.0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [121]:
from sklearn.preprocessing import StandardScaler
stand = StandardScaler()
stdr = stand.fit_transform(test)

testStd = pd.DataFrame(stdr, columns=['id','Umur','Kelas Pekerja',
                                           'Pendidikan','Jmlh Tahun Pendidikan','Keuntungan Kapital','Kerugian Capital',
                                           'Jam per Minggu','Status Perkawinan_Belum Pernah Menikah',
                                           'Status Perkawinan_Berpisah','Status Perkawinan_Cerai','Status Perkawinan_Janda',
                                           'Status Perkawinan_Menikah','Status Perkawinan_Menikah LDR',
                                           'Jenis Kelamin_Laki2','Jenis Kelamin_Perempuan','Pekerjaan_Asisten Rumah Tangga','Pekerjaan_Ekesekutif Managerial','Pekerjaan_Mesin Inspeksi','Pekerjaan_Pembersih',
                                         'Pekerjaan_Pemuka Agama',
                                         'Pekerjaan_Penjaga','Pekerjaan_Perbaikan Kerajinan','Pekerjaan_Petani','Pekerjaan_Sales','Pekerjaan_Servis Lainnya',
                                         'Pekerjaan_Spesialis','Pekerjaan_Supir','Pekerjaan_Tech-support','Pekerjaan_Tentara'])
testStd.describe()

,id,Umur,Kelas Pekerja,Pendidikan,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Status Perkawinan_Belum Pernah Menikah,Status Perkawinan_Berpisah,...,Pekerjaan_Pemuka Agama,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara
count,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,...,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03
mean,-9.622935e-18,-1.069626e-16,4.219287e-17,-4.496872e-17,2.050425e-16,2.812858e-17,1.628497e-17,2.650008e-16,3.886185e-18,-2.664813e-17,...,-4.885490e-17,-5.033535e-17,-4.293310e-17,-7.772371e-18,-1.480452e-17,-4.293310e-17,1.702519e-17,5.921806e-18,-2.590790e-17,-3.701129e-19
std,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,...,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00
min,-1.735141e+00,-1.556213e+00,-4.330459e+00,-4.623470e+00,-3.552522e+00,-1.430236e-01,-2.192541e-01,-3.172286e+00,-7.093179e-01,-1.799237e-01,...,-3.619723e-01,-1.559820e-01,-4.736689e-01,-1.845013e-01,-3.558696e-01,-3.375808e-01,-3.674725e-01,-2.238391e-01,-1.799237e-01,-1.768135e-02
25%,-8.620022e-01,-7.580523e-01,-5.676590e-02,-4.477554e-01,-4.130763e-01,-1.430236e-01,-2.192541e-01,-2.668660e-02,-7.093179e-01,-1.799237e-01,...,-3.619723e-01,-1.559820e-01,-4.736689e-01,-1.845013e-01,-3.558696e-01,-3.375808e-01,-3.674725e-01,-2.238391e-01,-1.799237e-01,-1.768135e-02
50%,-1.113822e-02,-1.050114e-01,-5.676590e-02,7.453060e-01,-2.064564e-02,-1.430236e-01,-2.192541e-01,-2.668660e-02,-7.093179e-01,-1.799237e-01,...,-3.619723e-01,-1.559820e-01,-4.736689e-01,-1.845013e-01,-3.558696e-01,-3.375808e-01,-3.674725e-01,-2.238391e-01,-1.799237e-01,-1.768135e-02
75%,8.687844e-01,6.931496e-01,-5.676590e-02,7.453060e-01,7.642157e-01,-1.430236e-01,-2.192541e-01,3.765954e-01,1.409805e+00,-1.799237e-01,...,-3.619723e-01,-1.559820e-01,-4.736689e-01,-1.845013e-01,-3.558696e-01,-3.375808e-01,-3.674725e-01,-2.238391e-01,-1.799237e-01,-1.768135e-02
max,1.746168e+00,3.740674e+00,3.148504e+00,7.453060e-01,2.333938e+00,1.330416e+01,1.045396e+01,4.732041e+00,1.409805e+00,5.557910e+00,...,2.762643e+00,6.410997e+00,2.111179e+00,5.420017e+00,2.810018e+00,2.962254e+00,2.721292e+00,4.467495e+00,5.557910e+00,5.655676e+01

In [122]:
testStd.describe()

,id,Umur,Kelas Pekerja,Pendidikan,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Status Perkawinan_Belum Pernah Menikah,Status Perkawinan_Berpisah,...,Pekerjaan_Pemuka Agama,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara
count,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,...,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03
mean,-9.622935e-18,-1.069626e-16,4.219287e-17,-4.496872e-17,2.050425e-16,2.812858e-17,1.628497e-17,2.650008e-16,3.886185e-18,-2.664813e-17,...,-4.885490e-17,-5.033535e-17,-4.293310e-17,-7.772371e-18,-1.480452e-17,-4.293310e-17,1.702519e-17,5.921806e-18,-2.590790e-17,-3.701129e-19
std,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,...,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00
min,-1.735141e+00,-1.556213e+00,-4.330459e+00,-4.623470e+00,-3.552522e+00,-1.430236e-01,-2.192541e-01,-3.172286e+00,-7.093179e-01,-1.799237e-01,...,-3.619723e-01,-1.559820e-01,-4.736689e-01,-1.845013e-01,-3.558696e-01,-3.375808e-01,-3.674725e-01,-2.238391e-01,-1.799237e-01,-1.768135e-02
25%,-8.620022e-01,-7.580523e-01,-5.676590e-02,-4.477554e-01,-4.130763e-01,-1.430236e-01,-2.192541e-01,-2.668660e-02,-7.093179e-01,-1.799237e-01,...,-3.619723e-01,-1.559820e-01,-4.736689e-01,-1.845013e-01,-3.558696e-01,-3.375808e-01,-3.674725e-01,-2.238391e-01,-1.799237e-01,-1.768135e-02
50%,-1.113822e-02,-1.050114e-01,-5.676590e-02,7.453060e-01,-2.064564e-02,-1.430236e-01,-2.192541e-01,-2.668660e-02,-7.093179e-01,-1.799237e-01,...,-3.619723e-01,-1.559820e-01,-4.736689e-01,-1.845013e-01,-3.558696e-01,-3.375808e-01,-3.674725e-01,-2.238391e-01,-1.799237e-01,-1.768135e-02
75%,8.687844e-01,6.931496e-01,-5.676590e-02,7.453060e-01,7.642157e-01,-1.430236e-01,-2.192541e-01,3.765954e-01,1.409805e+00,-1.799237e-01,...,-3.619723e-01,-1.559820e-01,-4.736689e-01,-1.845013e-01,-3.558696e-01,-3.375808e-01,-3.674725e-01,-2.238391e-01,-1.799237e-01,-1.768135e-02
max,1.746168e+00,3.740674e+00,3.148504e+00,7.453060e-01,2.333938e+00,1.330416e+01,1.045396e+01,4.732041e+00,1.409805e+00,5.557910e+00,...,2.762643e+00,6.410997e+00,2.111179e+00,5.420017e+00,2.810018e+00,2.962254e+00,2.721292e+00,4.467495e+00,5.557910e+00,5.655676e+01

In [123]:
test_drop = testStd.drop(columns=['id'])
test_drop

,Umur,Kelas Pekerja,Pendidikan,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Status Perkawinan_Belum Pernah Menikah,Status Perkawinan_Berpisah,Status Perkawinan_Cerai,...,Pekerjaan_Pemuka Agama,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara
0,-0.612932,1.011657,0.745306,0.371785,-0.143024,-0.219254,-0.026687,-0.709318,-0.179924,2.522141,...,2.762643,-0.155982,-0.473669,-0.184501,-0.35587,-0.337581,-0.367473,-0.223839,-0.179924,-0.017681
1,-0.758052,-0.056766,-0.447755,-0.413076,-0.143024,-0.219254,0.779877,-0.709318,-0.179924,-0.396489,...,-0.361972,-0.155982,-0.473669,-0.184501,-0.35587,-0.337581,-0.367473,-0.223839,-0.179924,-0.017681
2,-0.322692,2.080081,0.745306,-0.020646,-0.143024,-0.219254,-0.026687,-0.709318,-0.179924,-0.396489,...,2.762643,-0.155982,-0.473669,-0.184501,-0.35587,-0.337581,-0.367473,-0.223839,-0.179924,-0.017681
3,0.910830,-0.056766,0.745306,-0.020646,-0.143024,4.686112,-0.026687,-0.709318,-0.179924,-0.396489,...,-0.361972,-0.155982,-0.473669,-0.184501,-0.35587,-0.337581,-0.367473,-0.223839,-0.179924,-0.017681
4,-1.338533,-0.056766,0.745306,-0.020646,-0.143024,3.706019,-0.026687,1.409805,-0.179924,-0.396489,...,-0.361972,-0.155982,2.111179,-0.184501,-0.35587,-0.337581,-0.367473,-0.223839,-0.179924,-0.017681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9594,1.418751,3.148504,-2.237347,-1.982799,-0.143024,-0.219254,-0.026687,-0.709318,-0.179924,-0.396489,...,-0.361972,-0.155982,-0.473669,5.420017,-0.35587,-0.337581,-0.367473,-0.223839,-0.179924,-0.017681
9595,0.475469,-2.193612,-1.044286,-1.197938,-0.143024,-0.219254,0.779877,-0.709318,-0.179924,-0.396489,...,-0.361972,-0.155982,2.111179,-0.184501,-0.35587,-0.337581,-0.367473,-0.223839,-0.179924,-0.017681
9596,-1.338533,-0.056766,0.745306,-0.020646,-0.143024,-0.219254,-0.671938,1.409805,-0.179924,-0.396489,...,-0.361972,-0.155982,-0.473669,-0.184501,-0.35587,2.962254,-0.367473,-0.223839,-0.179924,-0.017681
9597,0.185229,1.011657,-0.447755,-0.413076,-0.143024,-0.219254,-0.026687,-0.709318,5.557910,-0.396489,...,2.762643,-0.155982,-0.473669,-0.184501,-0.35587,-0.337581,-0.367473,-0.223839,-0.179924,-0.017681
9598,-0.322692,-2.193612,-0.447755,-0.413076,-0.143024,-0.219254,3.199569,-0.709318,-0.179924,-0.396489,...,-0.361972,-0.155982,-0.473669,5.420017,-0.35587,-0.337581,-0.367473,-0.223839,-0.179924,-0.017681

In [132]:
y_baru = model.predict(test_drop)

In [127]:
y_baru = model.predict_proba(test_drop)

In [128]:
y_pred = y_baru[:, 1]

In [129]:
y_pred

array([0.        , 0.49448413, 0.58      , ..., 0.        , 0.        ,
       0.35      ])

In [133]:
roc_auc_score(y_test,y_baru)

0.4917487353048079

In [134]:
submission = pd.DataFrame({
        "id": test["id"],
        "gaji": y_baru
    })

submission.to_csv('submisi2.csv', index=False)

In [135]:
pd.read_csv('submisi2.csv')

         id  gaji
0     47933     0
1     44213     0
2     20823     1
3     40565     1
4      9860     0
...     ...   ...
9594  13587     0
9595  33231     0
9596  18614     0
9597  37566     0
9598   6744     0

[9599 rows x 2 columns]